<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <%= render 'layouts/stylesheets' %> 
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <section class="round">
      <%= yield %>
    </section>
  </body>
</html>
