.container {
  background: #fff;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin-left: 75px; }

body {
  background: #cc1166; }

header {
  padding-top: 20px; }

header img {
  padding: 1em;
  background: #fff;
  width: 75px; }

section {
  margin: 5em;
  font-size: 120%;
  padding: 20px 50px 50px;
  background: #fff;
  margin-top: 10px; }

section h1 {
  font-size: 200%; }

/* Links */
a {
  color: #cc1166;
  text-decoration: none; }

a:hover {
  color: #cc4477;
  text-decoration: underline; }

a:visited {
  color: #cc4477; }

a.new_recipe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #990044;
  font-size: 150%;
  font-weight: bold;
  padding: 20px; }

a.yes_button {
  text-align: center;
  width: 190px;
  color: #fff;
  background: #990044;
  font-size: 150%;
  font-weight: bold;
  padding: 20px; }

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
