  <div class="field">
    <%= form.label :amount %><br />
    <%= text_field(ingredient, :amount) %>
  </div> <div class="field">
    <%= form.label :name %><br />
    <%= text_field(ingredient, :name) %>
  </div>
